.mainButtons{
    display: flex;
    justify-content: center;
}
.mainBtn{
    padding: 14px;
    border: none;
    margin: 30px;
    border-radius: 10px;
    background-color: #A9B2A6;
    text-transform: uppercase;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    cursor:pointer;
    text-decoration: none;
    font-size: 13px;
    color: black;
}
.mainBtn:hover{
    background-color: #B9B7A7;
}
.orderBtn{
    padding: 14px;
    border: none;
    margin: 30px;
    border-radius: 10px;
    background-color: #F5D6D3;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    cursor:pointer;
    text-decoration: none;
    font-size: 13px;
    color: black;
}
.orderBtn:hover{
    background-color: #D12E77;
    color:#F5D6D3 ;
}

@media (max-width: 1024px) {
    .mainButtons {
      flex-wrap: wrap;
      justify-content: center;
      gap: 12px;
      margin-top: 14px;
      margin-bottom: 14px;
    }
  
    .mainButtons .mainBtn,
    .mainButtons .orderBtn {
      margin: 5px;
      padding: 10px;
      font-size: 12px;
      flex: 1 1 42%;
      text-align: center;
    }
  }
  
  @media (max-width: 768px) {
    .mainButtons {
        display: none; /* <-- скрываем всю панель кнопок на мобилке */
      }
    }