.whyHeader{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    padding: 50px;
}
.whyHead{
    color: black;
    text-transform: uppercase;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
     font-style: normal;
     font-size: 40px;
}
.block_why{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    padding: 10px;
}
.whyBlockHead{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
     font-style: normal;
     font-size: 22px;
     text-align: center;
}
.whyBlocktext{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
     font-style: normal;
     font-size: 16px;
     text-align: center;
     margin-top: 10px;
}
.container_why_main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    
}