.fixed-links {
    position: fixed;
    top: 10%; /* Центрируем иконки по вертикали */
    right: 0px; 
    transform: translateY(-50%); /* Сдвигаем иконки на 50% высоты элемента для точного центрирования */
    z-index: 9999; 
    display: flex;
    flex-direction: row; 
    background-color: rgba(0, 0, 0, 0.1); 
 
    padding: 5px; 
  }
  
  .social-icon {
    display: block ;
    margin-left: 12px; 
  }
  
  .social-icon img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
  }
  
  