.headerWorking{
    display: flex;
    justify-content: center;
    padding: 0px;
}
.textWorking{
    color: black;
    text-transform: uppercase;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
}
.image-layout {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-right: 20px;
  }
  
  .image-layout img {
    position: absolute;
     width: 500px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .image-layout img:hover {
    transform: scale(1.05);
    z-index: 10;
  }
  
  .img1 {
    left: 0px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
  
  .img2 {
    top: 200px;
    left: 180px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
  .txtWorking{
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    
  }
 .working_container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
 }
 .working{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
 }